<div class="navmenu">
    <input type="checkbox" title="Menu expand/collapse toggle" id="navmenu-toggle" class="navmenu-icon" />
    <label for="navmenu-toggle" class="navmenu-icon"><FluentIcon Value="@(new Icons.Regular.Size20.Navigation())" Color="Color.Fill" /></label>
    <nav class="sitenav" aria-labelledby="main-menu">
        <FluentNavMenu Id="main-menu" Width="250" Collapsible="true" Title="Navigation menu" @bind-Expanded="expanded" CustomToggle="true">
            <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
            <FluentNavLink Href="scan-items" Icon="@(new Icons.Regular.Size20.BarcodeScanner())" IconColor="Color.Accent">Scan Items</FluentNavLink>
            <FluentNavLink Href="manage-item-catagories" Icon="@(new Icons.Regular.Size20.TrayItemAdd())" IconColor="Color.Accent">Manage Item Catagories</FluentNavLink>
            <FluentNavLink Href="manage-users" Icon="@(new Icons.Regular.Size20.PersonAccounts())" IconColor="Color.Accent">Manage Users</FluentNavLink>
        </FluentNavMenu>
    </nav>
</div>

@code
{
    private bool expanded = true;
}
